@model BlogPostDto

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description">
                        Basic form layout
                    </p>
                    <form enctype="multipart/form-data" method="post" class="forms-sample">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" placeholder="Name">
                            <span class="text text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" placeholder="Info">
                            <span class="text text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <input accept="image/*" asp-for="ImageFile" class="form-control" placeholder="Image">
                            <span class="text text-danger" asp-validation-for="ImageFile"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="AuthorId" class="form-select" aria-label="Default select example">
                                <option selected>Authors</option>
                                @foreach (var item in ViewBag.Authors)
                                {
                                    <option value="@item.Id">@item.FullName</option>
                                }
                            </select>
                            <span class="text text-danger" asp-validation-for="AuthorId"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="TagsIds" class="form-select" aria-label="Default select example">

                                @foreach (var item in ViewBag.Tags)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span class="text text-danger" asp-validation-for="TagsIds"></span>
                        </div>
                        <div class="form-group">


                            <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                                <option selected>Categories</option>
                                @foreach (var item in ViewBag.Categorys)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span class="text text-danger" asp-validation-for="CategoryId"></span>
                        </div>
                        

                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

